html, body {
  margin: 0;
  padding: 0;
  background-image: url('https://th.bing.com/th/id/OIG.I92AE0R8XI0yqM8W0k1B?pid=ImgGn');
  background-size: cover;
  background-repeat: no-repeat;
}
canvas {
  display: flex;
}
h1 {
  background-color: #8ac5ef;
    font-size: 40px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-family: fantasy;
    text-align: center;
    border-radius: 50px;
    height: 80px;
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    animation: floatUpDown3 3s infinite;
}
@keyframes floatUpDown3 {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-5px); /* Adjust the float height as needed */
  }
}
.buttonfart{
  position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto; /* Center the container horizontally */
  max-width: 800px; /* Limit the container width */
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px;
}

.column {
  flex: 1;
  padding: 20px;
  background-color:gold ;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 255);
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 0 10px; /* Add spacing between columns */
  border-radius: 50px;
  text-align: center;
  justify-content: center;
  animation: floatUpDown3 5s infinite;
}


.column:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 255);
  transform: scale(1.05); /* Add a scaling effect on hover */
}
.dropbtn {
  display: inline-block;

}
.container4 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: auto; /* Center the container horizontally */ /* Limit the container width */
  display:grid;
  grid-template-columns: repeat(3,1fr);
  transform: translateX(90px);
  width: 800px;
}

.container5 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto; /* Center the container horizontally *//* Limit the container width */
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px;
  transform: translateX(100px);
}


.column2:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 255);
  transform: scale(1.05); /* Add a scaling effect on hover */
}

.column2 {
  flex: 1;
  padding: 20px;
  background-color:gold ;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 255);
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 0 10px; /* Add spacing between columns */
  border-radius: 50px;
  text-align: center;
  justify-content: center;
  animation: floatUpDown3 5s infinite;
}